{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-recess-order",
    "stylelint-config-prettier",
    "stylelint-config-sass-guidelines"
  ],
  "rules": {
    "unit-whitelist": ["em", "rem", "%", "s", "px", "deg"],
    "block-no-empty": true
  },
  "ignoreFiles": "*.min.css"
}
